.sell {
    padding: 0em 1.5em;
    margin-top: 5em;
    text-align: center;

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 2.2rem;
    }

    &__text {
        text-align: center;
        font-weight: 400;
        margin-top: 1em;
    }

    &__button {
        text-align: center;
        width: 20em;
        height: 4em;
        margin: 4em auto;
        border-radius: 3em;
        background-color: $color-blue;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
    }

    &__bg {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;

        &-img {
            display: block;
            position: relative;
            width: 47.7em;
            height: 16.7em;
            margin: 2em auto;
            left: -12.5em;
        }
    }

    
}

@media only screen and (min-width: 1000px) {
    
}