.contact {
    width: 100%;

    &__info {
        width: 100%;
        padding: 0em 1.5em;
        margin-top: 2.5em;

        &-title {
            font-family: $font-rale;
            font-size: 2.5rem;
            font-weight: 400;
        }

        &-text {
            font-size: 1rem;
            font-weight: 400;
            margin-top: 0.5em;
            margin-bottom: 4.5em;
        }

        &-icons {
            font-size: 1rem;
            font-weight: 600;
            color: #A5A5A5;
            margin-bottom: 1em;

            &-img {
                vertical-align: middle;
            }
            &-text {

                &--email {
                    vertical-align: top;
                }
            
                &--tlf {
                    vertical-align: top;
                }
            }
        }
    }

    &__form {
        width: 100%;

            &-control {
                padding: 1.5em 1.7em;

                &-input {
                    display: block;
                    width: 100%;
                    border: 0px;
                    border-bottom: 1px solid #95989A;
                    padding-top: 2em;
                }
    
                &-label {
                    display: block;
                    font-weight: 600;
                    font-size: 0.7rem;
                    color: $color-blue;
                    letter-spacing: 3.2799999713897705px;
                }

                &-check {
                    appearance:none;
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    display: inline-block;
                    width: 1.8em;
                    height: 1.8em;
                    margin-right: 0.5em;
                    border-radius: 0.3em;
                    border: 1px solid #95989A;
                }

                &-check:checked {
                    background-color: #FFF;
                    background-image: url(../img/checkmark.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    /*background-size: 100%;*/
                }

                &-text {
                    display: inline-block;
                    width: 80%;
                    font-weight: 400;
                    font-size: 0.9rem;
                    line-height: 16px;
                    vertical-align: top;
                    color: #707070;
                }
            }

        &-submit {
            width: 16em;
            height: 4em;
            text-align: center;
            vertical-align: middle;
            background-color: $color-blue;
            border-radius: 2em;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            margin-right: 1.7em;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 1000px) {
    
}