.pricing {
    padding: 0em 2em;
    &__title {
        font-family: $font-rale;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 20%;
    }

    .prices {
        border: 1px;
        border-style: solid;
        border-radius: 1.5em;
        margin: 15% 0%;
        height: 16em;
        
        &--red {
            border-color: $color-red;
        }

        &--blue {
            border-color: $color-blue;
        }

        &--green {
            border-color: $color-green;
        }

        &__plan {
            display: inline-block;
            text-align: center;
            width: 45%;
            height: 100%;
            margin-top: 0em;
            vertical-align: middle;

            &-title {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 1.3rem;
            }

            &-price {
                font-weight: 300;
                font-size: 2.8rem;
                line-height: 62px;
                letter-spacing: 0em;
    
                &--red {
                    color: $color-red;
                }
    
                &--blue {
                    color: $color-blue;
                }
    
                &--green {
                    color: $color-green;
                }
            }

            &-text {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 0.8rem;
            }
        }

        &__info {
            display: inline-block;
            width: 45%;
            margin-left: 3%;

            &-list {
                list-style-type: none;

                &-item {
                    list-style-type: none;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin: 1.5em 0em;

                    &-img {

                    }

                    &-text {
                        margin-left: 0.3em;
                    }
                }
            }
        }

        &__btn {
            width: 11.5em;
            height: 4em;
            border-radius: 2em;
            margin: 0 auto;
            margin-top: -7.4em;
            padding: 0.8em;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 700;
            
            &--red {
                background-color: $color-red;
            }

            &--blue {
                background-color: $color-blue;
            }

            &--green {
                background-color: $color-green;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    .pricing {
        display: grid;
        grid-template-columns: 1fr 23.4em 2em 23.4em 2em 23.4em 1fr;
        grid-template-areas: 
        ". . . title . . ."
        ". priceBa . pricePro . pricePre ."
        ;
        
        &__title {
            margin: 20% 0%;
            grid-area: title;
        }
    
        .prices {
            height: 30.2em;
            margin: 0em 0em;
            
            &--red {
                grid-area: priceBa;
            }
    
            &--blue {
                grid-area: pricePro;
            }
    
            &--green {
                grid-area: pricePre;
            }
    
            &__plan {
                display: block;
                width: 100%;
                padding-top: 3em;
                height: 43%;
            }
    
            &__info {
                display: flex;
                justify-content: center;
                width: 100%;
            }
    
            &__btn {
                margin-top: 2em;
            }
        }
    }
}