.sell {
    padding: 0em 1.5em;

    &__content {
        margin-top: 5em;
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 35px;
        height: 30%;
    }

    &__text {
        position: relative;
        text-align: center;
        font-weight: 400;
        height: 30%;
    }

    &__button {
        text-align: center;
        width: 100%;
        border-radius: 3em;
        background-color: $color-blue;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        height: 4em;
        margin: 4.5em 0em;
    }

    &__img {
        width: 100%;
        margin-bottom: 2em;
    }
    
    &__img {
        height: 267px;
    }
}

@media only screen and (min-width: 1000px) {
    
}