.pricing {
    padding: 0em 2.5em;
    margin-bottom: 5.5em;

    &__title {
        font-family: $font-rale;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: center;
        margin-top: 20%;
    }

    &__list {
        border: 0.1em solid #A5A5A5;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        margin: 10% auto;
        width: 100%;
        height: 3em;
    }

    .prices {
        border: 0.1em;
        border-style: solid;
        border-radius: 1.5em;
        margin: 5% 0% 20% 0%;
        height: 17.2em;
        
        &--red {
            border-color: $color-red;
        }

        &--blue {
            border-color: $color-blue;
        }

        &--green {
            border-color: $color-green;
        }

        &__plan {
            display: inline-block;
            text-align: center;
            width: 48%;
            height: 100%;
            vertical-align: middle;
            padding-top: 0.5em;

            &-title {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 1.3rem;
            }

            &-price {
                font-weight: 300;
                font-size: 2.8rem;
                line-height: 1.4em;
                letter-spacing: 0em;
    
                &--red {
                    color: $color-red;
                }
    
                &--blue {
                    color: $color-blue;
                }
    
                &--green {
                    color: $color-green;
                }
            }

            &-text {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 0.8rem;
            }
        }

        &__info {
            display: inline-block;
            width: 50%;
            padding: 2em 0em;

            &-list {
                list-style-type: none;

                &-item {
                    list-style-type: none;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-bottom: 1.5em;

                    &-text {
                        margin-left: 0.3em;
                    }
                }
            }
        }

        &__btn {
            width: 10.4em;
            height: 3.5em;
            border-radius: 2em;
            margin: 0 auto;
            margin-top: -6.5em;
            padding: 0.8em;
            text-align: center;
            font-size: 0.9rem;
            
            &--red {
                background-color: $color-red;
            }

            &--blue {
                background-color: $color-blue;
            }

            &--green {
                background-color: $color-green;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    .pricing {
        padding: 0em;
        display: grid;
        grid-template-columns: 11.6% 22.9% 3.8% 22.9% 4.8% 22.9% 11.6%;
        grid-template-areas: 
        ". . . title . . ."
        ". . . list . . ."
        ". priceBa . pricePro . pricePre ."
        ;
        
        &__title {
            margin: 20% 0%;
            margin-bottom: 0%;
            grid-area: title;
        }

        &__list {
            grid-area: list;
            width: 50%;
        }
    
        .prices {
            height: 28.8em;
            margin: 0em 0em;
            
            &:hover {
                width: 108.8%;
                height: 29.5em;
                margin-top: -1em;

                .prices__btn {
                    margin-top: 0.5em;

                    &--red {
                        box-shadow: 1.5px 2.8px 6.5px 0px $color-red;
                    }
    
                    &--blue {
                        box-shadow: 1.5px 2.8px 6.5px 0px $color-blue;
                    }
    
                    &--green {
                        box-shadow: 1.5px 2.8px 6.5px 0px $color-green;
                    }
                }

                
            }

            &--red {
                grid-area: priceBa;

                &:hover {
                    box-shadow: 1.5px 2.8px 6.5px 0px $color-red;
                }
            }
    
            &--blue {
                grid-area: pricePro;

                &:hover {
                    box-shadow: 1.5px 2.8px 6.5px 0px $color-blue;
                }
            }
    
            &--green {
                grid-area: pricePre;

                &:hover {
                    box-shadow: 1.5px 2.8px 6.5px 0px $color-green;
                }
            }
    
            &__plan {
                display: block;
                width: 100%;
                padding-top: 3em;
                height: 43%;
            }
    
            &__info {
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: 0em;

                &-list {
    
                    &-item {

                        &--emails {
                            margin-left: 1em;
                        }

                        &--license {
                            margin-left: -1em;
                        }
                    }
                }
            }
    
            &__btn {
                margin-top: 0em;
            }
        }
    }
}