.features {
    background-color: #F7F7F7;
    padding: 2.7em 1.5em;

    &__article {
        background-color: #FFF;
        border-radius: 0.3em;
        border: 1px solid #E8E9ED;
        margin-bottom: 2.5em;

        &-title {
            padding: 0.5em 0.5em 0em 0.4em;
            font-family: $font-rale;
            font-size: 1.9rem;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
        }
    
        &-text {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            padding: 1em;
        }

        &-icons {
            text-align: center;

            &-icon {

                &--mac {
                    display: inline-block;
                    position: relative;
                    background-color: $color-red;
                    width: 5.5em;
                    height: 5.5em;
                    border-radius: 2.5em;
                    transform: rotate(45deg);
                    right: -9.5em;
                    top: -2.3em;
                }
        
                &--iphone {
                    background-color: $color-blue;
                    width: 8.2em;
                    height: 8.2em;
                    /*Cambiar a rem o porcentaje*/
                    border-radius: 50%;
                    margin: 0 auto;
                }
        
                &--trumpet {
                    padding: 1em;
                    background-color: $color-green;
                    width: 100%;
                    height: 12.2em;
                    /*Cambiar a rem o porcentaje*/
                    text-align: left;
                    border-radius: 0.3em;
                    margin-top: -3em;
                }
            }

            &-img {

                &--mac {
                    width: 12em;
                    height: 6.8em;
                    /*Cambiar a rem o porcentaje*/
                    display: inline-block;
                    position: relative;
                    left: -3em;
                }
        
                &--iphone {
                    width: 10.9em;
                    height: 8.4em;
                    position: relative;
                    top: -7.7em;
                    left: 1.5em;
                }
        
                &--trumpet {
                    width: fit-content;
                }
            }
    
            &--mac {
                padding-top: 2.7em;
            }
    
            &--iphone {
                margin-top: 0.5em;
                margin-bottom: -8em;
            }
            
            
        }
    }
}

@media only screen and (min-width: 1000px) {
    
}