.contact {
    width: 100%;
    padding: 0em 1.8em;

    &__info {
        width: 100%;
        margin-bottom: 2em;

        &-title {
            font-family: $font-rale;
            font-size: 2.5rem;
            font-weight: 400;
        }

        &-text {
            font-size: 1rem;
            font-weight: 400;
            margin-top: 0.5em;
            margin-bottom: 2.5em;
        }

        &-icons {
            font-size: 1rem;
            font-weight: 600;
            color: #A5A5A5;
            margin-bottom: 1em;

            &-img {
                vertical-align: middle;
            }
            &-text {

                &--email {
                    vertical-align: top;
                }
            
                &--tlf {
                    vertical-align: top;
                }
            }
        }
    }

    &__form {
        width: 100%;

            &-control {
                padding: 1.7em 0em;
                &-input {
                    display: block;
                    width: 100%;
                    border: 0px;
                    border-bottom: 1px solid #95989A;
                    padding-top: 2em;
                }
    
                &-label {
                    display: block;
                    font-weight: 600;
                    font-size: 0.7rem;
                    color: $color-blue;
                    letter-spacing: 3.2799999713897705px;
                }

                &-check {
                    appearance:none;
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    display: inline-block;
                    width: 1.8em;
                    height: 1.8em;
                    margin-right: 0.5em;
                    border-radius: 0.3em;
                    margin-left: -0.1em;
                    border: 1px solid #95989A;
                }

                &-check:checked {
                    background-color: #FFF;
                    background-image: url(../img/checkmark.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &-text {
                    display: inline-block;
                    width: 89%;
                    font-weight: 400;
                    font-size: 0.77rem;
                    line-height: 16px;
                    vertical-align: top;
                    color: #707070;
                }
            }

        &-submit {
            font-size: 0.8rem;
            width: 17.7em;
            height: 4.2em;
            text-align: center;
            background-color: $color-blue;
            border-radius: 2em;
            box-shadow: 0.5em 0.8em 1em 0em #07ACE64A;
            margin-right: 0em;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .contact {
        padding: 0em 0em;
        margin-top: 8em;
        margin-bottom: 5em;
        display: grid;
        grid-template-columns: 23% 25% 3% 26.8% 23%;
        grid-template-areas: ". info . form .";
    
        &__info {
            grid-area: info;
            padding: 0em 0em;
            margin-top: 0em;

            &-title {
                font-size: 3rem;
            }

            &-text {
                margin-top: 2rem;
            }

            &-icons {
                display: inline-block;
                margin-right: 10px;
            }
        }
    
        &__form {
            grid-area: form;
                &-control {
                    padding: 0em 0em;
                    padding-bottom: 2.5em;

                    &--check {
                        display: flex;
                    }

                    &-input {
                        padding: inherit 0em;
                    }

                    &-text {
                        width: 94%;
                        font-size: 0.76rem;
                    }
                }
        }
    }
}