.header {
  /*position: relative;*/ /*No hace falta*/
  width: 100%;
  /*height: 15%;*/
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  color: #08A6E4;
  padding: 20px;
}
.header__div {
  display: inline-block;
  width: 70%;
  text-align: left;
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0em;
  /*text-align: left;*/
}
.header__icon {
  display: inline-block;
  width: 20%;
  text-align: right;
}
.header__x-menu {
  display: none;
}

.nav {
  position: relative;
  display: inline-block;
  width: 100%;
}
.nav__list {
  position: absolute;
  display: none;
  top: -2em;
  width: 100%;
  padding: 1.5em;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 1;
  /*display: none;*/
}
.nav__list-item {
  font-size: 0.6rem;
  letter-spacing: 0.2em;
  text-align: left;
  color: #A5A5A5;
  margin-top: 1.2em;
  margin-bottom: 1.4em;
}
.nav__list-item--active {
  color: #000000;
}

.sell {
  padding: 0em 1.5em;
}
.sell__content {
  margin-top: 5em;
}
.sell__title {
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  height: 30%;
}
.sell__text {
  position: relative;
  text-align: center;
  font-weight: 400;
  height: 30%;
}
.sell__button {
  text-align: center;
  width: 100%;
  border-radius: 3em;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  height: 4em;
  margin: 4.5em 0em;
}
.sell__img {
  width: 100%;
  margin-bottom: 2em;
}
.sell__img {
  height: 267px;
}

.popularity {
  padding: 0 1.5em;
  text-align: center;
}
.popularity__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 2em;
}
.popularity__img--person {
  margin-left: 2em;
}
.popularity__img--eye {
  margin-top: 0.8em;
  margin-left: 1.2em;
}
.popularity__img--catalog {
  margin-top: 0.1em;
  margin-left: 2em;
}
.popularity__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #A5A5A5;
}
.popularity__number {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 5.9600000381px;
  padding: 0.7em 0em;
}
.popularity__icons {
  margin-bottom: 1.5em;
}
.popularity__icon {
  margin: 0 auto;
  border-radius: 50%;
  width: 3.9em;
  height: 3.9em;
  /*Cambiar a rem o porcentaje*/
  text-align: end;
}
.popularity__icon--person {
  background-color: #FB3B64;
}
.popularity__icon--eye {
  background-color: #08A6E4;
}
.popularity__icon--catalog {
  background-color: #55DFB4;
}

.caracteristics {
  background-color: #F7F7F7;
  padding: 2.7em;
}
.caracteristics__content {
  background-color: #FFF;
  border-radius: 0.3em;
  border: 1px solid #E8E9ED;
  margin-bottom: 2.5em;
}
.caracteristics__title {
  padding: 0.5em 0.5em 0em 0.4em;
  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.caracteristics__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1em;
}
.caracteristics__icons {
  text-align: center;
}
.caracteristics__icons--mac {
  padding-top: 2.7em;
}
.caracteristics__icons--iphone {
  margin-top: 0.5em;
  margin-bottom: -8em;
}
.caracteristics__icon--mac {
  display: inline-block;
  position: relative;
  background-color: #FB3B64;
  width: 5.5em;
  height: 5.5em;
  border-radius: 2.5em;
  transform: rotate(45deg);
  right: -9.5em;
  top: -2.3em;
}
.caracteristics__icon--iphone {
  background-color: #08A6E4;
  width: 8.2em;
  height: 8.2em;
  /*Cambiar a rem o porcentaje*/
  border-radius: 50%;
  margin: 0 auto;
}
.caracteristics__icon--trumpet {
  padding: 1em;
  background-color: #55DFB4;
  width: 100%;
  height: 12.2em;
  /*Cambiar a rem o porcentaje*/
  text-align: left;
  border-radius: 0.3em;
  margin-top: -3em;
}
.caracteristics__img--mac {
  width: 192px;
  height: 109px;
  /*Cambiar a rem o porcentaje*/
  display: inline-block;
  position: relative;
  left: -3em;
}
.caracteristics__img--iphone {
  width: 175px;
  height: 134px;
  position: relative;
  top: -7.7em;
  left: 1.5em;
}
.caracteristics__img--trumpet {
  width: fit-content;
}

.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;
}
.pricing .prices__content {
  border: 1px;
  border-style: solid;
  border-radius: 1.5em;
  margin: 7%;
  height: 16em;
}
.pricing .prices__content--red {
  border-color: #FB3B64;
}
.pricing .prices__content--blue {
  border-color: #08A6E4;
}
.pricing .prices__content--green {
  border-color: #55DFB4;
}
.pricing .prices__plan {
  display: inline-block;
  text-align: center;
  width: 45%;
  height: 100%;
  margin-top: 0em;
  vertical-align: middle;
}
.pricing .prices__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
.pricing .prices__price {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 62px;
  letter-spacing: 0em;
}
.pricing .prices__price--red {
  color: #FB3B64;
}
.pricing .prices__price--blue {
  color: #08A6E4;
}
.pricing .prices__price--green {
  color: #55DFB4;
}
.pricing .prices__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
.pricing .prices__info {
  display: inline-block;
  width: 45%;
  margin-left: 3%;
}
.pricing .prices__list {
  list-style-type: none;
}
.pricing .prices__item {
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1.5em 0em;
}
.pricing .prices__btn {
  width: 11.5em;
  height: 4em;
  border-radius: 2em;
  margin: 0 auto;
  margin-top: -4em;
  padding: 0.8em;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
}
.pricing .prices__btn--red {
  background-color: #FB3B64;
}
.pricing .prices__btn--blue {
  background-color: #08A6E4;
}
.pricing .prices__btn--green {
  background-color: #55DFB4;
}

.contact {
  width: 100%;
}
.contact__info {
  width: 100%;
  padding: 30px 30px;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.contact__text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.contact__text--email {
  vertical-align: top;
}
.contact__text--tlf {
  vertical-align: top;
}
.contact__contact {
  font-size: 16px;
  font-weight: 600;
  color: #A5A5A5;
  padding-top: 70px;
}
.contact__img {
  vertical-align: middle;
}
.contact__form {
  width: 100%;
}
.contact__form .form__content {
  padding: 20px 33px;
}
.contact__form .form__input {
  display: block;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #95989A;
  padding-top: 20px;
}
.contact__form .form__label {
  display: block;
  font-weight: 600;
  font-size: 11px;
  color: #08A6E4;
  letter-spacing: 3.2799999714px;
}
.contact__form .form__check {
  display: inline-block;
  width: 20%;
  height: 100%;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.contact__form .form__check:checked {
  background-color: #FFF;
  background-image: url(../img/checkmark.svg);
}
.contact__form .form__text {
  display: inline-block;
  width: 80%;
  height: 100%;
  font-weight: 400;
  font-size: 12;
  line-height: 16px;
  vertical-align: top;
  color: #707070;
}
.contact__form .form__submit {
  width: 60%;
  height: 57px;
  text-align: center;
  vertical-align: middle;
  background-color: #08A6E4;
  border-radius: 35px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

.footer {
  position: relative;
  width: 100%;
  height: 15%;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  color: #08A6E4;
  margin-top: 47px;
  padding: 20px;
}
.footer__info {
  display: inline-block;
  width: 70%;
}
.footer__title {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
}
.footer__text {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
}
.footer__icons {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.main {
  position: relative;
  width: 100%;
  height: 70%;
}

.btn {
  border: 0px;
  color: #FFF;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
