$font-rale: 'Raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;
$color-blue: #08A6E4;
$color-red: #FB3B64;
$color-green: #55DFB4;

//Luis: Ejercicio github funcionó a la primera

@import './styles/header.scss';
@import './styles/nav.scss';
@import './styles/section_sell.scss';
@import './styles/section_popularity.scss';
@import './styles/section_features.scss';
@import './styles/section_pricing.scss';
@import './styles/section_contact.scss';
@import './styles/section_slider.scss';
@import './styles/footer.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: $font-open;
    font-weight: 700;
}

.main {
    position: relative;
    width: 100%;
    height: 70%;
}

.btn {
    border: 0px;
    color: #FFF;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .btn--blue {}

    .btn--green {}

    .btn--red {}
}

.scroll {
    display: none;
    background-color: $color-green;
    height: 1em;
    position: fixed;
    top: 0;
    z-index: 100;
}

.to__top {
    display: none;
    background-color: #08A6E4;
    width: 10em;
    height: 10em;
    position: fixed;
    right: 0;
    bottom: 0;
}

.modal {
    top: 32.5%;
    left: 32.5%;
    
    &::backdrop {
        opacity: 0.75;
    }

    &__btn {
        display: block;
        width: 4em;
        height: 4em;
        cursor: pointer;
        border: 0;
        margin-right: 0;
        margin-left: auto;
        background: transparent;
        padding: 0.5em;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        padding: 5em;
        padding-top: 4em;
    }
}

.cursor--pointer {
    cursor: pointer;
}