$font-rale: 'Raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;
$color-blue: #08A6E4;
$color-red: #FB3B64;
$color-green: #55DFB4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: $font-open;
    font-weight: 700;
}

.header {
    position: relative;
    width: 100%;
    height: 15%;
    box-shadow: 0px 3px 6px 0px #0000004A;
    color: $color-blue;
    padding: 20px;

    &__div {
        display: inline-block;
        width: 70%;
        text-align: left;
    }

    &__title {
        font-family: $font-rale;
        font-size: 2rem;
        font-weight: 300;
        line-height: 37px;
        letter-spacing: 0em;
        /*text-align: left;*/
    }

    &__icon {
        display: inline-block;
        width: 20%;
        text-align: right;
    }

    &__menu {
    }

    &__x-menu {
        display: none;
    }

    &__nav {
        
        .nav {
            
            &__list {
                margin-top: 30px;
                margin-bottom: 20px;
                list-style-type: none;
                /*display: none;*/
                }

            &__item {
                font-size: 11px;
                line-height: 15px;
                letter-spacing: 3.2799999713897705px;
                text-align: left;
                color: #A5A5A5;

                &--active {
                    color: #000000;
                }
            }
        }
    }
    
    
}

.main {
    position: relative;
    width: 100%;
    height: 70%;

    .sell {
        height: 25%;
        margin: 0 30px;

        &__content {
            margin-top: 120px;
        }

        &__title {
            text-align: center;
            font-weight: 400;
            font-size: 35px;
            height: 30%;
        }

        &__text {
            position: relative;
            text-align: center;
            font-weight: 400;
            height: 30%;
        }

        &__button {
            text-align: center;
            width: 100%;
            border-radius: 40px;
            background-color: $color-blue;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            height: 67px;
            margin: 60px 0px;
        }

        &__img {
            width: 100%;
            margin-bottom: 20px;
        }
        
        &__img {
            height: 267px;
        }
    }
    
    .popularity {
        display: block;
        margin: 0 30px;
        text-align: center;

        &__title {
            font-family: $font-rale;
            font-weight: 400;
            margin-bottom: 35px;
        }

        &__img {

            &--person {
                margin-left: 31px;
            }

            &--eye {
                margin-top: 10px;
                margin-left: 19px;
            }

            &--catalog {
                margin-top: 4px;
                margin-left: 29px;
            }
            
        }

        &__content {

        }

        &__text {
            font-family: $font-rale;
            font-weight: 400;
            font-size: 17px;
            color: #A5A5A5;
        }

        &__number {
            font-family: $font-rale;
            font-weight: 800;
            font-size: 1.25rem;
            letter-spacing: 5.960000038146973px;
            line-height: 24px;
            padding: 13px 0px;
        }

        &__icons {
            margin-bottom: 25px;
        }
        
        &__icon {
            margin: 0 auto;
            border-radius: 50%;
            width: 62.71px;
            height: 62.71px;
            text-align: end;
                    
            &--person {
                background-color: $color-red;
            }

            &--eye {
                background-color: $color-blue;
            }

            &--catalog {
                background-color: $color-green;
            }
        }
    }

    .caracteristics {
        background-color: #F7F7F7;
        padding: 30px;

        &__content {
            background-color: #FFF;
            border-radius: 5px;
            border: 1px solid #E8E9ED;
            margin-bottom: 40px;
        }

        &__title {
            padding: 30px 30px 0px 30px;
            font-family: $font-rale;
            font-size: 30px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;

            &--mac {
                padding: 10px 30px;
            }
        }

        &__text {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            padding: 30px;
        }
        
        &__icons {
            text-align: center;

            &--mac {
                padding-top: 40px;
            }

            &--iphone {
                margin-top: 15px;
            }
            
            
        }

        &__icon {

            &--mac {
                display: inline-block;
                position: relative;
                background-color: $color-red;
                width: 90.12px;
                height: 90.12px;
                border-radius: 41px;
                transform: rotate(45deg);
                margin: 0px 0px;
                right: -160px;
                top: -45px;
            }

            &--iphone {
                display: inline-block;
                background-color: $color-blue;
                width: 131.8px;
                height: 131.7px;
                border-radius: 50%;
                position: relative;
                left: 80px;
            }

            &--trumpet {
                padding: 40px;
                background-color: $color-green;
                width: 100%;
                height: 195px;
                text-align: left;
                border-radius: 5px;
                margin-top: -60px;
            }
        }

        &__img {

            &--mac {
                width: 192px;
                height: 109px;
                display: inline-block;
                position: relative;
                left: -50px;
            }

            &--iphone {
                width: 175px;
                height: 134px;
                display: inline-block;
                position: relative;
                left: -54px;
                top: 14px;
            }

            &--trumpet {
                width: fit-content;
                display: inline-block;
            }
        }
        
    }

    .pricing {
        
        &__title {
            font-family: $font-rale;
            font-weight: 400;
            font-size: 36px;
            text-align: center;
            margin-top: 75px;
        }

        .prices {

            &__content {
                border: 1px solid;
                border-radius: 18px;
                margin: 30px;
                height: 251px;
                
                &--red {
                    border-color: $color-red;
                }

                &--blue {
                    border-color: $color-blue;
                }

                &--green {
                    border-color: $color-green;
                }
            }

            &__plan {
                display: inline-block;
                text-align: center;
                width: 45%;
                height: 100%;
                margin-top: 0px;
                vertical-align: middle;
            }

            &__title {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 20px;
            }

            &__price {
                font-weight: 300;
                font-size: 46px;
                line-height: 62px;
                letter-spacing: 0em;

                &--red {
                    color: $color-red;
                }

                &--blue {
                    color: $color-blue;
                }

                &--green {
                    color: $color-green;
                }
            }

            &__text {
                font-family: $font-rale;
                font-weight: 700;
                font-size: 12px;
            }


            &__info {
                display: inline-block;
                width: 45%;
                margin-left: 25px;
            }

            &__list {
                list-style-type: none;
            }
            
            &__item {
                list-style-type: none;
                font-size: 14px;
                font-weight: 400;
                margin: 20px 0px;
            }

            &__btn {
                position: relative;
                width: 50%;
                height: 50px;
                border-radius: 23px;
                margin: 0 auto;
                margin-top: -57px;
                padding: 14px;
                text-align: center;
                font-size: 13px;
                font-weight: 700;
                
                &--red {
                    background-color: $color-red;
                }

                &--blue {
                    background-color: $color-blue;
                }

                &--green {
                    background-color: $color-green;
                }
            }
        }
    }

    .contact {
        width: 100%;

        &__info {
            width: 100%;
            padding: 30px 30px;
        }

        &__title {
            font-family: $font-rale;
            font-size: 40px;
            font-weight: 400;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            margin-top: 8px;

            &--email {
                vertical-align: top;
            }

            &--tlf {
                vertical-align: top;
            }

            
        }

        &__content {
        }

        &__contact {
            font-size: 16px;
            font-weight: 600;
            color: #A5A5A5;
            padding-top: 70px;
        }

        &__img {
            vertical-align: middle;
        }

        &__form {
            width: 100%;

            .form {
                
                &__content {
                    padding: 20px 33px;
                }

                &__input {
                    display: block;
                    width: 100%;
                    border: 0px;
                    border-bottom: 1px solid #95989A;
                    padding-top: 20px;
                }

                &__label {
                    display: block;
                    font-weight: 600;
                    font-size: 11px;
                    color: $color-blue;
                    letter-spacing: 3.2799999713897705px;
                }

                &__check {
                    display: inline-block;
                    width: 20%;
                    height: 100%;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }

                &__check:checked {
                    background-color: #FFF;
                    background-image: url(../img/checkmark.svg);
                }

                &__text {
                    display: inline-block;
                    width: 80%;
                    height: 100%;
                    font-weight: 400;
                    font-size: 12;
                    line-height: 16px;
                    vertical-align: top;
                    color: #707070;
                }

                &__submit {
                    width: 60%;
                    height: 57px;
                    text-align: center;
                    vertical-align: middle;
                    background-color: $color-blue;
                    border-radius: 35px;
                    box-shadow: 5px 10px 14px 0px #07ACE64A;
                }
            }
        }
    }
}

.btn {
    border: 0px;
    color: #FFF;
    background-color: transparent;
    width: 100%;
    height: 100%;

    .btn--blue {

    }

    .btn--green {

    }

    .btn--red {

    }

}

.footer {
    position: relative;
    width: 100%;
    height: 15%;
    box-shadow: 0px -5px 40px 0px #00000033;
    color: $color-blue;
    margin-top: 47px;
    padding: 20px;

    &__info {
        display: inline-block;
        width: 70%;
    }

    &__title {
        font-family: $font-rale;
        font-size: 26px;
        font-weight: 300;
        line-height: 30px;
    }

    &__text {
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
    }

    &__icons {
        display: inline-block;
        width: 25%;
        vertical-align: top;

    }
}

@media only screen and (min-width: 1000px) {
    
}